#files {
  display: grid;
  place-content: center;
  margin: 5vh auto;
  text-align: center;

  h3 {
    height: 0;
    opacity: 0;
  }

  .container {
    display: inline-block;
    padding: 5vmin;
    outline: 4px dashed var(--color-secondary);
    background-color: var(--color-background);
    text-align: center;

    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 1rem;
    padding-right: 1rem;
    
    @media (min-width: 1440px) {
      max-width: 1320px;
    }

    a {
      color: var(--color-background);
    }

    a:not(:last-child) {
      margin: 0.5rem;

      &:not(.link-codepen) {
        font-size: clamp(1.5rem, 4vw, 2rem);
      }
    }
  }
}