header {
  --logomark-height: 3em;
  --logomark-padding: 0 1em;

  position: relative;
  overflow: hidden;
  display: grid;
  min-height: 40vh;
  place-items: center;
  padding: 10vh 2rem;
  background-image: url("images/forestheader.webp");
  background-repeat: no-repeat;
  background-position: center bottom, 17px -40px;
  background-size: cover, auto;
  color: var(--color-background);
  text-align: center;

  &::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 15%;
    width: 50px;
    height: 300px;
    background: #544343;
    transform-origin: bottom center;
    border-radius: 4px;
    z-index: 1;

    opacity: 0;
    animation:
      fadeIn 0.5s ease-in 3s forwards,
      sway-trunk 3s ease-in-out 3s infinite alternate;
  }

  &::after {
    content: "";
    position: absolute;
    bottom: 280px;
    left: calc(15% - 125px);
    width: 300px;
    height: 300px;
    background:
      radial-gradient(circle at 50% 30%, #508484 40%, transparent 41%),
      radial-gradient(circle at 30% 70%, #568ea3 35%, transparent 36%),
      radial-gradient(circle at 70% 70%, #D6FFE5 30%, transparent 31%);
    border-radius: 50%;
    transform-origin: bottom center;
    z-index: 1;

    opacity: 0;
    animation:
      fadeIn 0.5s ease-in 3s forwards,
      sway-leaves 3s ease-in-out 3s infinite alternate;
  }

  .container {
    position: relative; 
    z-index: 2; 

    h2, p, h1 {
      color: var(--color-primary);
    }
  }

  .container a:nth-of-type(-n+2) {
    color: white;
  }

  .container > a.link-github {
    color: var(--color-background);
  }


  @keyframes sway-trunk {
    0%   { transform: rotate(-2deg); }
    100% { transform: rotate( 2deg); }
  }

  @keyframes sway-leaves {
    0%   { transform: translateX(0) rotate(-4deg); }
    100% { transform: translateX(6px) rotate( 4deg); }
  }

  @keyframes fadeIn {
    to { opacity: 1; }
  }

  h1 {
    @include logomark;
  }

  h2 {
    max-width: 30ch;
  }
}
