header {
  --logomark-height: 3em;
  --logomark-padding: 0 1em;

  position: relative;
  overflow: visible;
  display: grid;
  min-height: 40vh;
  place-items: center;
  padding: 10vh 2rem;
  background-image: url("images/forestheader.png"),
    url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='36' height='72' viewBox='0 0 36 72'%3E%3Cg fill-rule='evenodd'%3E%3Cg fill='%23d42257' fill-opacity='0.4'%3E%3Cpath d='M2 6h12L8 18 2 6zm18 36h12l-6 12-6-12z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  background-repeat: repeat-x;
  background-position: 0 -38px, 17px -40px;
  color: var(--color-background);
  text-align: center;
  background-size: cover, auto;
  background-repeat: no-repeat, repeat-x;
  background-position: center bottom, 17px -40px;      

 &::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 15%;
    width: 50px;
    height: 300px;
    background: #544343;
    transform-origin: bottom center;
    animation: sway-trunk 3s ease-in-out infinite alternate;
    border-radius: 4px;
  }
  &::after {
    content: "";
    position: absolute;
    bottom: 280px;
    left: calc(15% - 125px);
    width: 300px;
    height: 300px;
    background:
      radial-gradient(circle at 50% 30%, #4eac94 40%, transparent 31%),
      radial-gradient(circle at 30% 70%, #56a389 35%, transparent 31%),
      radial-gradient(circle at 70% 70%, #02faa7 30%, transparent 31%);
    border-radius: 50%;
    transform-origin: bottom center;
    animation: sway-leaves 3s ease-in-out infinite alternate;
  }


  @keyframes sway-trunk {
    0%   { transform: rotate(-2deg); }
    100% { transform: rotate( 2deg); }
  }


  @keyframes sway-leaves {
    0%   { transform: translateX(0) rotate(-4deg); }
    100% { transform: translateX(6px) rotate( 4deg); }
  }


  h1 {
    @include logomark;
  }

  h2 {
    max-width: 30ch;
  }
}
