.features {
  position: relative;
  width: 100%;
  grid-template-columns: repeat(auto-fit, minmax(25ch, 1fr));

  /*! 
    * SVGs from Hero Patterns
    * @link http://www.heropatterns.com/
    */
  li {
    display: grid;
    position: relative;
    place-content: center;
    min-height: 12rem;
    padding: 1rem;
    color: var(--color-light);
    text-align: center;

    > span {
      display: grid;
      place-content: center;
      padding: 0.5em;
      grid-gap: 0.5rem;
      border: 1px solid var(--color-light);
      background-color: var(--color-secondary);
      line-height: 1.1;

      a {
        color: inherit;
        font-size: 1.3rem;
        font-weight: var(--font-weight-strong);
        text-decoration: none;


        &::before {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          content: "";
        }
      }

      span:nth-child(2) {
        position: relative;
      }
    }
  }
}

#styles {
  margin: 5vh 0 20vh;
  text-align: center;

  h2 {
    color: var(--color-primary);
  }

  .link-allstyles {
    color: var(--color-background);
  }
}

#styles .features,
.features.patterned {
  li {
    background-color: var(--color-secondary);
    background-repeat: repeat;
    background-size: 40px 40px;

    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='40' height='40' viewBox='0 0 40 40'%3E%3Cg fill='%23fff' fill-opacity='0.4'%3E%3Cpolygon points='20,0 15,10 25,10' /%3E%3Cpolygon points='20,5 12,18 28,18' /%3E%3Cpolygon points='20,12 10,26 30,26' /%3E%3Crect x='18' y='26' width='4' height='10' /%3E%3C/g%3E%3C/svg%3E");

    @media (min-width: 515px) and (max-width: 765px) {
      &:nth-last-child(1):nth-child(odd) {
        grid-column: span 2;
      }
    }

    &:nth-child(2) {
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='40' height='40' viewBox='0 0 40 40'%3E%3Cg transform='rotate(180 20 20)' fill='%23fff' fill-opacity='0.4'%3E%3Cpolygon points='20,0 15,10 25,10' /%3E%3Cpolygon points='20,5 12,18 28,18' /%3E%3Cpolygon points='20,12 10,26 30,26' /%3E%3Crect x='18' y='26' width='4' height='10' /%3E%3C/g%3E%3C/svg%3E");
    }

    &:nth-child(3) {
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='40' height='40' viewBox='0 0 40 40'%3E%3Cg transform='rotate(90 20 20)' fill='%23fff' fill-opacity='0.4'%3E%3Cpolygon points='20,0 15,10 25,10' /%3E%3Cpolygon points='20,5 12,18 28,18' /%3E%3Cpolygon points='20,12 10,26 30,26' /%3E%3Crect x='18' y='26' width='4' height='10' /%3E%3C/g%3E%3C/svg%3E");
    }
  }

  &::after {
    position: absolute;
    bottom: -4.5em;
    width: 10ch;
    padding-top: 3em;
    transform: rotate(-15deg);
    transform-origin: bottom right;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='40' height='40' viewBox='0 0 40 40'%3E%3Cg fill='%23fff' fill-opacity='0.15'%3E%3Cpolygon points='20,0 15,10 25,10' /%3E%3Cpolygon points='20,5 12,18 28,18' /%3E%3Cpolygon points='20,12 10,26 30,26' /%3E%3Crect x='18' y='26' width='4' height='10' /%3E%3C/g%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-size: 90%;
    color: white;
    font-size: 0.9rem;
    content: "We ❤️ Grid";
  }
}